
@import './utilities';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Readex Pro', sans-serif
}

//COLORS

.box{
    color: $text-col;    
}

.box1{
    color: $primary-col;
}


.box2{
    color: $text-col-2;
}

.box3{
    color: $text-col-3;
}

.box4{
    color: $text-col-4;
}



//TYPOGRAPHY

.f-11{
    font-size: $font-11;
}

.f-15{
    font-size: $font-15;
}

.f-20{
    font-size: $font-20;
}





//BUTTONS

.btnAvada{
    height: $height-btn;
    line-height: $line-h;
    background-color: $primary-col;
    border-radius: $bord-rad;
    text-align: center;
 

    a{
        color: $text-col-2;
        text-decoration: none;
    }

}

.btnAviat{
    height: $height-btnA;
    line-height: $line-hA;
    border-radius: $bord-rad;
    border: $bord-col;
    text-align: center;
  

    a{
        color: $text-col-4;
        text-decoration: none;
    }

}

//BOXES

.boxes{
    position: $pos-abs;
    border-radius: $bord-rad;
    box-shadow: $shadow;
    z-index: $index;
}



