
@import './utilities';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Readex Pro', sans-serif
}

.container{
    width: 800px;
    display: flex;
}

.box{
    color: $text-col;    
}

.box2{
    color: $text-col-2;
}


