
//COLORS

$primary-col: #7abc64;
$text-col: #929aa3;
$text-col-2: #fff;
$text-col-3: #494c4e;
$text-col-4: #7799ad;
$text-col-5: #bbcbd3;
$text-col-6: #33475b;


//BUTTONS
$height-btn: 38px;
$line-h: 38px;
$bord-rad: 13px;
$bord-rad25: 25px;


$bord-col: 3px solid #7799ad;
$height-btnA: 35px;
$line-hA:35px;


//TAG A

$dec-none: none;

//SHADOWS

$shadow: 5px 5px 10px 2px #ebebeb;
$shadow2: 0 0 30px 0 #b5babf;
$shadow3: 0 0 30px 0 #588281;




//BOXES

$pos-abs: absolute;
$index: 3;

//TYPOGRAPHY

$font-11: 11px;
$font-13: 13px;
$font-15: 15px;
$font-18: 18px;
$font-20: 20px;
$font-25: 25px;
$font-35: 35px;

$font-W: 300;







