
//COLORS

$primary-col: #7abc64;
$text-col: #929aa3;
$text-col-2: #fff;
$text-col-3: #494c4e;
$text-col-4: #7799ad;

//BUTTONS

$height-btn: 43px;
$line-h: 43px;
$bord-rad: 25px;


$bord-col: 3px solid #7799ad;
$height-btnA: 35px;
$line-hA:35px;


//TAG A

$dec-none: none;

//BOXES

$pos-abs: absolute;
$shadow: 0 15px 30px 15px #ebebeb;
$index: 3;

//TYPOGRAPHY

$font-11: 11px;
$font-15: 15px;
$font-18: 18px;
$font-20: 20px;





